body {
  font-family: "Helvetica", sans-serif;
  padding-bottom: 30px;
}

h2 {
  margin: 30px 30px 0;
}

.styled_form, p, .image {
  margin: 15px 30px 0;
}

.styled_form .field {
  margin-top: 15px;
}

.styled_form .field:first-child {
  margin-top: 0;
}

.styled_form .footer {
  margin-top: 25px;
}

.styled_form .field label,
.styled_form .field input {
  font-size: 11pt;
}

.styled_form label {
  width: 10em;
  display: inline-block;
}
